@import url(/css/reset.css);


select{
    appearance: none;
    background-color: inherit;
    border: none;
}


.header, 
body {
    font-family: 'Poppins';
}


.container{
    max-width: 1440px;
    padding: 0 32px;
    margin: 0 auto;
}

.header{    
    padding-top: 31px;
    background-color: black;
    background-image: url(/img/AdobeStock_251238249\ 1.jpg);
    background-size: cover;
    background-position: center center;
    border-radius: 0 0 54px 54px;
    color: white;
    height: 800px;
}


.header-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}


.header-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 190px;
}

.header-menu-list{
    display: flex;
    justify-content: space-between;
    column-gap: 54px;
}

.menu-list-item{
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
    opacity: 0.7;
}

.menu-list-item a:hover{
    color: red;
}

.menu-list-item a{
    text-decoration: none;
    outline: 0 none;
    color: white;
}


.first-item{
    font-weight: 400;
    opacity: 1;
}


.user{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-content{
    text-align: right;
    margin-right: 10px;
}

.user-avatar{
    position: relative;
}


.user-avatar::after{
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #FF0000;
}

.user-greeting{
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    opacity: 0.7;
}

.user-name{
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;
}


.header-title {
    text-align: center;
}


.header-title-text{
    margin: 0 auto;
    margin-bottom: 64px;
    font-size: 48px;
    line-height: 32px;
    font-weight: 600;
}

.button-text{
    padding: 24px 24px 24px 0;
    color: inherit;
    text-decoration: none;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    border-radius: 12px;
    margin-bottom: 184px;
    border: none;
    background-color: #7B61FF;
}

.button-text:hover{
    background-color: #4c2cea;
}


/* .button-img{
    vertical-align: sub;
    padding: 0 8px 0 26px;
} */


.button{
    background-color: #7B61FF;
    border-radius: 12px;
    color: white;
    border: none;


    transition: background-color 0.2s ease-in;
}

.button:hover{
    background-color: #6344ff;
}

.button-huge{
    padding: 24px;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    column-gap: 8px;
    align-items: center;
}


.header-form{

}




.form{
    display: flex;

    padding: 8px 8px;
    color: black;
    max-width: 1140px;
    height: 88px;
    background-color: white;
    border-radius: 12px;
}

.form-input{
    padding-top: 16px;
    padding-left: 56px;
    position: relative;
    display: inline-block;
    background-color: rgb(229, 184, 253);
    text-align: left;
}

.form-input::before{
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 24px;
    left: 16px;
    line-height: 1;
}


.form-input__location::before{
    background-image: url('/icons/location.svg');
    background-repeat: no-repeat;
}


.button-search{
    width: 60px;
    height: 60px;
    padding: 18px;
    background-color: #7B61FF;
    border: none;
    border-radius: 12px;
}


.label{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #5B5B5B;
}

.select{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}