


body
    font-family: "Poppins"
    margin: 0



a
    text-decoration: none
    color: white

ul, li
    list-style: none


.container
    width: 1378px
    padding: 31px 0 120px 0
    margin: 0 auto







.header
    background-color: black
    color: white

    &__container
        display: flex
        flex-direction: column


    &__text
        align-self: center
        text-align: center
        margin-bottom: 184px
        

    &__title
        font-weight: 600
        font-size: 48px
        line-height: 62px

    &__btn
        margin: 0 auto
        display: flex
        align-items: center
        background-color: #7B61FF
        padding: 24px
        border: none
        border-radius: 12px
        color: white
        font-weight: 600
        font-size: 18px
        line-height: 24px

        img
            margin-right: 10px

    
    &__form
        align-self: center

    




.nav-menu
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    margin-bottom: 183px




.list
    display: flex
    flex-direction: row

    &__item
        margin-right: 54px
        font-weight: 300
        font-size: 14px
        line-height: 21px
        opacity: 0.7
            

        &:first-child
            opacity: 1


        &:last-child
            margin-right: 0


    
    

.avatar
    display: flex
    flex-direction: row
    align-items: center
    column-gap: 8px
    p
        margin: 0
        font-weight: 600

    span
        font-weight: 400
        font-size: 14px
        line-height: 21px


    img
        width: 48px
        height: 48px




.form
    width: 1140px
    padding: 27px 10px 27px 24px
    border-radius: 12px
    background-color: white
    color: black
    
    display: flex
    flex-direction: row
    justify-content: space-between



.form-item
    display: flex
    flex-direction: row
    align-items: center



    
    span
        font-weight: 300
        font-size: 14px
        line-height: 16px
        color: #5B5B5B

    p
        margin: 0
        font-weight: 500
        font-size: 16px
        line-height: 24px
        color: #161414

    img
        margin-right: 19px

    &:last-child
        button
            border: none
            background-color: white
            
        img
            padding: 20px
            background-color: #7B61FF
            border-radius: 12px
            margin-right: 0
